<html>
<head>
<link rel="stylesheet" href="main.css"> 
<style>

.bg-img{
  position:relative;top:-950;left:950;
}
.proname{
position:relative;left:40px;
}
.name{
position:relative;left:640px;top:-430;
}
h2{
color:red;
}

</style>
</head>


<body>

 <header>  
     <div class="logo"><a href="#">Style Shop</a></div>  
     <div class="menu">  
       <a href=""><ion-icon name="close" class="close"></ion-icon></a>  
       <ul>  
         <li><a href="main.html" class="under">HOME</a></li>  
         <li><a href="/login" class="under">Login</a></li>  
          
           
         <li><a href="/about" class="under">About us</a></li>  
	 <li><a href="/signup" class="under">Signup</a></li> 
       </ul>  
     </div>    
     <div class="heading">  
       <ul>  
         <li><a href="main.html" class="under">HOME</a></li>  
         <li><a href="/login" class="under">LOGIN</a></li>   
         
         <li><a href="/about" class="under">ABOUT US</a></li>
			<li><a href="/signup" class="under">SIGNUP</a></li>  
       </ul>  
     </div>  
     <div class="heading1">  
       <ion-icon name="menu" class="ham"></ion-icon>  
     </div>  
   </header>  
 <header1>  
     
     <div class="menu">  
       <a href=""><ion-icon name="close" class="close"></ion-icon></a>  
       </div>    
     <div class="heading">  
       <ul> 
         <li><a href="" class="under">Special Deals</a></li>  
         <li><a href="tvs.html" class="under">Tv</a></li>
         <li><a href="homeapp.html" class="under">Home Applicanes</a></li>  
         <li><a href="laptop.html" class="under">Laptops</a></li>   
         <li><a href="mobile.html" class="under">Mobiles</a></li>  
         <li><a href="glossery.html" class="under">Glossery</a></li>   
         <li><a href="furniture.html" class="under">Furnitures</a></li>
         <li><a href="dress.html" class="under">Dress</a></li>  
         <li><a href="watchs.html" class="under">Watches</a></li>  
         <li><a href="shoe.html" class="under">Shoes</a></li>  
        <div class="timer">
	<div id="timer">
  	<p id="time"></p>
        </div>
	</div>
       </ul>  
     </div>  
     <div class="heading1">  
       <ion-icon name="menu" class="ham"></ion-icon>  
     </div>  
   </header1>

<h1>Place Your Order here..</h1>
<div class="proname">
<img src="https://m.media-amazon.com/images/I/61X7JcXrTHL._UY741_.jpg" height="70% width="60%">
</div>
<div class="name">
<h1>BLIVE Printed
<br>T-Shirt</h1>
<h2>Rs:999</h2><br><br>
<h3>Care: Dry Clean
Fit Type: Slim Fit<br><br>
Fabric: 75% Rayon<br><br>
30% Viscose<br><br>
Style: Tuxedo<br><br>
Pattern: Solid<br><br>
Fit: Slim Fit
<br><br>
Closure Type: Buttoned</h3>
</div>
<div class="bg-img">
<iframe height='90%' width='40%' frameborder='0' allowTransparency='true' scrolling='auto' src='https://creatorapp.zohopublic.in/kuberanvenkatesh3/order/form-embed/BLIVE_Printed_T_Shirt/Q1VfUGnzAxKs954vrgOCHFTwUfxjmdjjSnXnn4wCPEHgrr3wSrVG1vmdzEnQae9m467ynqMq9mqW0qs0CVjyjxZWnsRMVxNRWudU'></iframe>
</div>


  


</body>
</html>