<html>
<head>
<link rel="stylesheet" href="main.css"> 
<style>

.bg-img{
  position:relative;top:-830;left:950;
}
.proname{
position:relative;left:40px;
}
.name{
position:relative;left:640px;top:-430;
}
h2{
color:red;
}

</style>
</head>


<body>

 <header>  
     <div class="logo"><a href="#">Style Shop</a></div>  
     <div class="menu">  
       <a href=""><ion-icon name="close" class="close"></ion-icon></a>  
       <ul>  
         <li><a href="main.html" class="under">HOME</a></li>  
         <li><a href="/login" class="under">Login</a></li>  
          
           
         <li><a href="/about" class="under">About us</a></li>  
	 <li><a href="/signup" class="under">Signup</a></li> 
       </ul>  
     </div>    
     <div class="heading">  
       <ul>  
         <li><a href="main.html" class="under">HOME</a></li>  
         <li><a href="/login" class="under">LOGIN</a></li>   
         
         <li><a href="/about" class="under">ABOUT US</a></li>
			<li><a href="/signup" class="under">SIGNUP</a></li>  
       </ul>  
     </div>  
     <div class="heading1">  
       <ion-icon name="menu" class="ham"></ion-icon>  
     </div>  
   </header>  
 <header1>  
     
     <div class="menu">  
       <a href=""><ion-icon name="close" class="close"></ion-icon></a>  
       </div>    
     <div class="heading">  
       <ul> 
         <li><a href="" class="under">Special Deals</a></li>  
         <li><a href="tvs.html" class="under">Tv</a></li>
         <li><a href="homeapp.html" class="under">Home Applicanes</a></li>  
         <li><a href="laptop.html" class="under">Laptops</a></li>   
         <li><a href="mobile.html" class="under">Mobiles</a></li>  
         <li><a href="glossery.html" class="under">Glossery</a></li>   
         <li><a href="furniture.html" class="under">Furnitures</a></li>
         <li><a href="dress.html" class="under">Dress</a></li>  
         <li><a href="watchs.html" class="under">Watches</a></li>  
         <li><a href="shoe.html" class="under">Shoes</a></li>  
        <div class="timer">
	<div id="timer">
  	<p id="time"></p>
        </div>
	</div>
       </ul>  
     </div>  
     <div class="heading1">  
       <ion-icon name="menu" class="ham"></ion-icon>  
     </div>  
   </header1>

<h1>Place Your Order here..</h1>
<div class="proname">
<img src="https://m.media-amazon.com/images/I/412Cl41kYJL._SX300_SY300_QL70_FMwebp_.jpg" height="70% width="60%">
</div>
<div class="name">
<h1>Dell
<br></h1>
<h2>Rs:19,999</h2>
<h3>
Brand	Dell
RAM Memory Installed Size-8 GB<br><br>
Colour	Carbon Black<br><br>
Model Name	Vostro 3420<br><br>
Netflix, 5000+apps, Prime Video<br><br>
CPU Model-Core i3 Family<br><br>
Display Technology-LED<br><br>
Resolution-HD+</h3>
</div>
<div class="bg-img">
 <<iframe height='90%' width='40%' frameborder='0' allowTransparency='true' scrolling='auto' src='https://creatorapp.zohopublic.in/kuberanvenkatesh33/order/form-embed/Dell/ffuU58CjXG19xgnAHHH5f89PnavyWes194K4nwxdh2gJT9QedG9ArBsNywuEPUWx7meCxMjftqAPKv3mjhtVQGp9Ft6ayBNTYhVJ'></iframe>
</div>


  


</body>
</html>