<html>
<head>
<style>

.bg-img{
  position:relative;top:-700;left:500;
}


</style>
<body>

<h2>Product Ordering Page</h2>

<img src="https://m.media-amazon.com/images/I/81E0uiZHnOL._UY625_.jpg" alt="shoe">

<div class="bg-img">
  <iframe height='100%' width='30%' frameborder='0' allowTransparency='true'  src='https://creatorapp.zohopublic.in/kuberanvenkatesh3/order/form-embed/buy/MKwjZVBDx71kvJXNNzE2VwTnH2ZtC27edJANmXYaMfDMbp7m1h5Nd4qp0fukHreA6akbqqUh08HGYxJwD7AqKUnuMWkfrskMR7gb'></iframe>
</div>

</body>
</html>